#red-wrap {
margin-left: -500px;
top: -100px;
width: 400px;
}
#radio-red:checked ~ .svgWrap #redbaseclip {
-webkit-animation-name: redbasemask;
-moz-animation-name: redbasemask;
-ms-animation-name: redbasemask;
-o-animation-name: redbasemask;
animation-name: redbasemask;

-webkit-animation-duration: 1.3s;
-moz-animation-duration: 1.3s;
-ms-animation-duration: 1.3s;
-o-animation-duration: 1.3s;
animation-duration: 1.3s;

-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50px 50px;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-ms-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;
animation-fill-mode: forwards;

}
.svgWrap #redtop {
-webkit-transform:translateX(-425px)}
#radio-red:checked ~ .svgWrap #redtop {
-webkit-animation-name: redmoveleft;
-moz-animation-name: redmoveleft;
-ms-animation-name: redmoveleft;
-o-animation-name: redmoveleft;
animation-name: redmoveleft;

-webkit-animation-duration: 2s;
-moz-animation-duration: 2s;
-ms-animation-duration: 2s;
-o-animation-duration: 2s;
animation-duration: 2s;

-webkit-animation-delay:1s;

-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50px 50px;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-ms-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
.iphone-red #redcamera {
opacity:0;
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
-ms-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
}
#radio-red:checked ~ .svgWrap #redcamera {
opacity:1;
-webkit-transition: opacity 0.3s ease;
-moz-transition: opacity 0.3s ease;
-o-transition: opacity 0.3s ease;
-ms-transition: opacity 0.3s ease;
transition: opacity 0.3s ease;
-webkit-transition-delay:1.7s;
-moz-transition-delay:1.7s;
-o-transition-delay:1.7s;
-ms-transition-delay:1.7s;
transition-delay:1.7s;
}
.iphone-red #redspeaker {
opacity:0;
-webkit-transition: opacity 0.4s ease;
-moz-transition: opacity 0.4s ease;
-o-transition: opacity 0.4s ease;
-ms-transition: opacity 0.4s ease;
transition: opacity 0.4s ease;
}
#radio-red:checked ~ .svgWrap #redspeaker {
opacity:1;
-webkit-transition: opacity 0.4s ease;
-moz-transition: opacity 0.4s ease;
-o-transition: opacity 0.4s ease;
-ms-transition: opacity 0.4s ease;
transition: opacity 0.4s ease;
-webkit-transition-delay:1.8s;
-moz-transition-delay:1.8s;
-o-transition-delay:1.8s;
-ms-transition-delay:1.8s;
transition-delay:1.8s;
}
#red-wrap .redscreen {
-webkit-transform: translate3d(0,0,0);
position: absolute;
z-index:3;
top: 105px;
left: 41px;
opacity:0;
background: url(../images/screenred.png);
background-repeat:no-repeat;
background-size: 250px 443px; 
width: 250px; 
height: 443px;
background-color: rgba(0,0,0,0);
overflow: hidden !important;
border: none;
-webkit-transition: opacity 0.4s ease;
-moz-transition: opacity 0.4s ease;
-o-transition: opacity 0.4s ease;
-ms-transition: opacity 0.4s ease;
transition: opacity 0.4s ease;
}
#radio-red:checked ~ #red-wrap .redscreen {
opacity:1;
-webkit-transition: opacity .7s ease;
-moz-transition: opacity 0.7s ease;
-o-transition: opacity 0.7s ease;
-ms-transition: opacity 0.7s ease;
transition: opacity 0.7s ease;
-webkit-transition-delay:2.33s;
-moz-transition-delay:2.33s;
-o-transition-delay:2.33s;
-ms-transition-delay:2.33s;
transition-delay:2.33s;
}
#red-wrap #redbuttons,
#red-wrap #redhomebutton {
opacity:0;
-webkit-transition: opacity 0.4s ease;
-moz-transition: opacity 0.4s ease;
-o-transition: opacity 0.4s ease;
-ms-transition: opacity 0.4s ease;
transition: opacity 0.4s ease;
}
#radio-red:checked ~ .svgWrap #redbuttons,
#radio-red:checked ~ .svgWrap #redhomebutton {
opacity:1;
-webkit-transition: opacity 0.4s ease;
-moz-transition: opacity 0.4s ease;
-o-transition: opacity 0.4s ease;
-ms-transition: opacity 0.4s ease;
transition: opacity 0.4s ease;
-webkit-transition-delay:1.8s;
-moz-transition-delay:1.8s;
-o-transition-delay:1.8s;
-ms-transition-delay:1.8s;
transition-delay:1.8s;
}
/*KEYFRAMES*/
@-webkit-keyframes redbasemask {
0% { -webkit-transform: translateY(630px);}
100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes redbasemask {
0% {-moz-transform: translateY(630px);}
100% {-moz-transform: translateY(0px);}
}
@keyframes redbasemask {
0% {transform: translateY(630px);}
100% {transform: translateY(0px);}
}
@-webkit-keyframes redmoveleft {
0% {-webkit-transform: translateX(-425px);}
100% {-webkit-transform: translateX(0px);}
}
@-moz-keyframes redmoveleft {
0% {-webkit-transform: translateX(-425px);}
100% {-webkit-transform: translateX(0px);}
}
@keyframes redmoveleft {
0% { -webkit-transform: translateX(-425px);}
100% { -webkit-transform: translateX(0px);}
}